html {
  background-color: #272725;
}

.App {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > * {
  margin: 5px;
}

.card {
  width: 300px;
  height: 120px;
  background-color: darkslategrey;
  border-radius: 15px;
  user-select: none;
  cursor: pointer;
}
